@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json
@using PAYROL_SYSTEM.Session;

@{ 
    var image = HttpContextAccessor.HttpContext.Session.GetString("Imageurl");
    var name = HttpContextAccessor.HttpContext.Session.GetString("Name");
    var desc = HttpContextAccessor.HttpContext.Session.GetString("Desc");
    var Connected = HttpContextAccessor.HttpContext.Session.GetString("Connected");

    var strUserId = HttpContextAccessor.HttpContext.Session.GetString("strUserId");
}
<!-- Left side column. contains the logo and sidebar -->
@*<aside class="main-sidebar" style="background-color:white;color:black;">*@
<aside class="main-sidebar" style="background-color:white;color:white;box-shadow: 1px 6px 22px 3px rgba(0,0,0,0.1);">

    <!-- sid;white-sbar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">

        <ul class="sidebar-menu treeview" data-widget="tree">

            <li class="treeview" style="height: auto;color:black">
                <a asp-action="Dashboard"  asp-controller="Home">
                    <i style="color:gray" class="fal fa-tachometer-alt-slowest"></i>
                    <span style="color:gray">
                        <b>Dashboard</b>

                    </span>
                </a>
                <script>
                    function reload() {

                        window.location = 'http://www.airbnbsystem.com:84/Home/HomePage/';
                    }
                </script>


            </li>

            <li class="treeview" style="height: auto;color:gray">
                <a href="#">
                    <img src="~/Icons/001-booking.png" style="height:24px;width:auto;margin-right:12px" class="img-fluid" />

                    <span style="color:gray;" class="Mennnnu"> Employees  <br /><span style="margin-left:44px;font-size:x-small" class="Mennnnu">View/Manage Employees </span></span>
                    <span class="pull-right-container">
                        <i style="color:gray" class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a asp-action="Index" asp-controller="Employees" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>View all Employees
                        </a>
                    </li> 
                    <li>
                        <a asp-action="OverTime" asp-controller="Employees" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>Employee OverTime
                        </a>
                    </li> 
                    <li>
                        <a asp-action="Commission" asp-controller="Employees" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>Employee Commission
                        </a>
                    </li> 
                    <li>
                        <a asp-action="Index" asp-controller="Allowances" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>Employee Allowances
                        </a>
                    </li>


                </ul>
            </li>

            <li class="treeview" style="height: auto;color:gray">
                <a href="#">
                    <img src="~/Icons/001-booking.png" style="height:24px;width:auto;margin-right:12px" class="img-fluid" />

                    <span style="color:gray;" class="Mennnnu"> Departments  <br /><span style="margin-left:44px;font-size:x-small" class="Mennnnu">View/Manage departments </span></span>
                    <span class="pull-right-container">
                        <i style="color:gray" class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a asp-action="Department" asp-controller="Home" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>View Departments
                        </a>
                    </li>


                </ul>
            </li>  
            <li class="treeview" style="height: auto;color:gray">
                <a href="#">
                    <img src="~/Icons/001-booking.png" style="height:24px;width:auto;margin-right:12px" class="img-fluid" />

                    <span style="color:gray;" class="Mennnnu"> Designation/Role  <br /><span style="margin-left:44px;font-size:x-small" class="Mennnnu">View/Manage Designation/Roles </span></span>
                    <span class="pull-right-container">
                        <i style="color:gray" class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a asp-action="Index" asp-controller="DesignationRole" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>View Designation/Roles
                        </a>
                    </li>


                </ul>
            </li>
            <li class="treeview" style="height: auto;color:gray">
                <a href="#">
                    <img src="~/Icons/001-booking.png" style="height:24px;width:auto;margin-right:12px" class="img-fluid" />

                    <span style="color:gray;" class="Mennnnu"> Job Groups  <br /><span style="margin-left:44px;font-size:x-small" class="Mennnnu">View/Manage Job Groups </span></span>
                    <span class="pull-right-container">
                        <i style="color:gray" class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a asp-action="Index" asp-controller="Job_Group" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>View Job Groups
                        </a>
                    </li>


                </ul>
            </li>
            <li class="treeview" style="height: auto;color:gray">
                <a href="#">
                    <img src="~/Icons/001-booking.png" style="height:24px;width:auto;margin-right:12px" class="img-fluid" />

                    <span style="color:gray;" class="Mennnnu"> Allowance Types  <br /><span style="margin-left:44px;font-size:x-small" class="Mennnnu">View/Manage Allowance Types </span></span>
                    <span class="pull-right-container">
                        <i style="color:gray" class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a asp-action="Index" asp-controller="AllowanceTypes" asp-route-Id="">
                            <i class="fa fa-eye" aria-hidden="true"></i>View Allowance Types
                        </a>
                    </li>


                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<script src="~/dist/js/adminlte.min.js"></script>